// color section
$color-primary:#4d2c5e;
$color-primary2:#9567ad;
$color-secondary:#ff7426;
$color-tertiary:#fdf8ee; 
$color-success:#27a150;
$color-warning:#f4ab2f;
$color-danger:#d83c36;
$color-other:#dfe3fe;
$color-text:#1c1a1f;
$color-subtle-text:#929095;
$color-default-input-fields:#dbdbdb;
$color-subtle-body-text:#a9a9a9; 

// heading 1 sction
$header-1-fz:96px;
$header-1-line-height:100%;
$header-1-letter-spaceing:-4%;
$header-1-paragraph-spaceing:0px;
$header-1-fw-medium:medium;
$header-1-fw-bold:bold;
$header-1-fw-bolder:bolder;

// heading 2 section 
$header-2-fz:60px;
$header-2-line-height:100%;
$header-2-letter-spaceing:-4%;
$header-2-paragraph-spaceing:0px;
$header-2-fw-medium:medium;
$header-2-fw-bold:bold;
$header-2-fw-bolder:bolder;

// header 3 section 
$header-3-fz:48px;
$header-3-line-height:120%;
$header-3-letter-spaceing:-2%;
$header-3-paragraph-spaceing:0px;
$header-3-fw-medium:medium;
$header-3-fw-bold:bold;
$header-3-fw-bolder:bolder;

// header 4 section 
$header-4-fz:32px;
$header-4-line-height:120%;
$header-4-letter-spaceing:-2%;
$header-4-paragraph-spaceing:0px;
$header-4-fw-medium:medium;
$header-4-fw-bold:bold;
$header-4-fw-bolder:bolder;

// header 5 secton 
$header-5-fz:24px;
$header-5-line-height:120%;
$header-5-letter-spaceing:-2%;
$header-5-paragraph-spaceing:0px;
$header-5-fw-medium:medium;
$header-5-fw-bold:bold;
$header-5-fw-bolder:bolder;

// header 6 section
$header-6-fz:20px;
$header-6-line-height:120%;
$header-6-letter-spaceing:-2%;
$header-6-paragraph-spaceing:0px;
$header-6-fw-medium:medium;
$header-6-fw-bold:bold;
$header-6-fw-bolder:bolder;

// subtitle section
$subtitle-fz:20px;
$subtitle-line-height:145%;
$subtitle-letter-spaceing:0%;
$subtitle-paragraph-spaceing:0px;
$subtitle-fw-medium:medium;
$subtitle-fw-bold:bold;
$subtitle-fw-bolder:bolder;

// body 1 section 
$body-1-fz:16px;
$body-1-line-height:145%;
$body-1-letter-spaceing:0%;
$body-1-paragraph-spaceing:0px;
$body-1-fw-medium:medium;
$body-1-fw-bold:bold;
$body-1-fw-bolder:bolder;

// body 2 section
$body-2-fz:14px;
$body-2-line-height:145%;
$body-2-letter-spaceing:0%;
$body-2-paragraph-spaceing:0px;
$body-2-fw-medium:medium;
$body-2-fw-bold:bold;
$body-2-fw-bolder:bolder;

// caption section
$caption-fz:12px;
$caption-line-height:145%;
$caption-letter-spaceing:0%;
$caption-paragraph-spaceing:0px;
$caption-fw-medium:medium;
$caption-fw-bold:bold;
$caption-fw-bolder:bolder;

// caption x small section
$caption-x-fz:10px;
$caption-x-line-height:120%;
$caption-x-letter-spaceing:16%;
$caption-x-paragraph-spaceing:0px;
$caption-x-fw-bold:bold;